# Ignore logs
logs/

# Ignore pycache
*/__pycache__/

# Ignore dataset
Dataset/raw/
Dataset/raw-live/
Dataset/processed-live/
Dataset/Processed/images
Dataset/Processed/labels
Dataset/Processed/data.yaml

# Ignore Runs directory
runs/

# Ignore test.py
test.py

*.txt
*.pt